appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
clarabel==0.9.0
colour==0.1.5
comm==0.2.2
cvxpy==1.5.2
cycler==0.12.1
debugpy==1.8.2
decorator==5.1.1
ecos==2.0.14
executing==2.0.1
fastjsonschema==2.20.0
idna==3.7
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nbformat==5.10.4
nest-asyncio==1.6.0
numpy==2.0.0
osqp==0.6.7.post0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.2
plotly==5.22.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==26.0.3
qdldl==0.1.7.post4
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
scikit-learn==1.5.1
scipy==1.14.0
scs==3.2.6
six==1.16.0
stack-data==0.6.3
tenacity==8.5.0
threadpoolctl==3.5.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13

-r requirements-dev.txt